.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
}
.top-nav {
    height: 150px;
    background-color: green;
    padding: 15px;
}
.side-nav {
    height: 400px;
    width: 200px;
    background-color: blue;
    margin-top: 20px;


}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin-left: 90px;
    padding: 0px;
    margin-top: 20px;
}
.sub-content {
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: 10px;
}
#advertisement {
    height: 120px;
    width:  600px;
    background-color: purple;
    margin-left: 20px;
    margin-top: 20px;
}
.row {
    display: flex;
}