body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: rgb(253, 253, 253);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(151, 151, 151);
}

section {
    padding: 50px 0;
}

.pasatiempo-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pasatiempo-container img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.links-container a {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
}

.prioridades-container {
    margin-top: 20px;
}

.prioridades-container ol {
    list-style-position: inside;
}