/* Estilos de pagina de viajes */

*{
    /* outline: solid black; */
}
body { /* Seleccion de body*/
font-family: Arial, sans-serif ; /* Cambia tipografia*/
margin: 0; /* Elimina todo el margen predefinido */
padding: 0; /* Elimina todo el relleno de los elementos */
}
/* Acá viene eñ estilo de una clase container */
.container {
    width: 80%; /* Establece el ancho del contenedor en un 80% */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}
/* Estilo de encabezado */
header{
    background-color: #333; /* Establece el color de fondo */
    color: #fff; /* Establece el color del texto */
    padding: 20px 0; /* Añade relleno superior e inferior */
}

header h1{
    margin: 0; /* Elimina el margen por defecto del título */
}
/* Estilo de elemento de lista */
nav ul li{
    display: inline; /* Alinea los elementos */
    margin-right: 20px; /* Margen hacia la derecha */
}
/* Estilo a elemntos de vinculo ancla de navegación */
nav ul li a{
    color:#fff; /* Color a elemnto Anchor */
    text-decoration: none; /* Quitar subrayado de enalaces */
}

section {
    padding: 40px 0; /* Añade relleno superior e inferior*/
}

#banner{
    background-image: url("https://via.placeholder.com/1500x500"); /* Establece la imagen de fondo de del banner*/
    background-size: cover; /* Ajusta la imagen al área del banner */
    color: #fff; /* Establece color del texto*/
    text-align: center; /* Sentra el texto del banner */
    padding: 100px 0; /* Define relleno superior e inferior */
}
#banner h2{
    font-size: 36px; /* EStablece tamaño de texto h2 */
}
#banner p{
    font-size: 18px; /* Establece tamaño de p */
    margin-bottom: 20px; /* Define margen inferior */
}

.btn{
    background-color: #007bff; /* Color fondo boton*/
    color: #fff; /* Color texto del boton*/
    padding: 10px 20px; /* Relleno del boton */
    text-decoration: none; /* Quita decoración de enlace */
}
/* Estilo cuado pasa puntero sobre el boton */
.btn:hover{
    background-color: #0056b3; /* Establece color de fondo de fondo en hover boton */
}

.destinos-container{
    display: flex; /* Utiliza flexbox para linear elemntos */
    justify-content: space-between; /* Distribuye uniformemente los elemntos*/
    flex-wrap: wrap; /* Si los elemntos no caben en la misma linea agrega una nueva linea con estos elemetos extras */
}

.destino{
    width: calc(33.33% - 20px); /* Establece el ancho de cada destino menos el espacio entre los destinos */
    margin-bottom: 20px; /* Define el margen inferior */
    text-align: center; /* Centra el texto */
}

.destino img{
    width: 100%; /*Establece el ancho de la imagen ajustandola al elemento que la contiene*/
    border-radius: 8px; /* Agrega esquinas redondeadas */
}

.destino h3{
    margin-top: 10px; /* Agraga distancia entre imagen y h3 */
}     
.destino p{
    margin-top: 10px; /* Agraga distancia superior entre h3 y p */
}

footer{
    background-color: #333; /* Establece color de fondo de footer */
    text-align: center; /* Centra el texto */
    padding: 20px 0; /* Añade relleno superior e inferior */
}